<a href="https://colab.research.google.com/github/kanishika-c15/KanishikaUCS420/blob/main/assign4q3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1.

In [2]:

import numpy as np

arr = np.array([10, 20, 30, 40, 50])

add_result = arr + 2
multiply_result = arr * 3
divide_result = arr / 2

print("Original Array:", arr)
print("After Adding 2:", add_result)
print("After Multiplying by 3:", multiply_result)
print("After Dividing by 2:", divide_result)

Original Array: [10 20 30 40 50]
After Adding 2: [12 22 32 42 52]
After Multiplying by 3: [ 30  60  90 120 150]
After Dividing by 2: [ 5. 10. 15. 20. 25.]

Q2

In [6]:

import numpy as np

arr = np.array([1, 2, 3, 6, 4, 5])
reversed_arr = arr[::-1]
print("Reversed Array:", reversed_arr)

def most_frequent(arr):
    unique, counts = np.unique(arr, return_counts=True)
    max_count = np.max(counts)
    most_frequent_value = unique[np.argmax(counts)]
    indices = np.where(arr == most_frequent_value)[0]
    return most_frequent_value, indices

x = np.array([1, 2, 3, 4, 5, 1, 2, 1, 1, 1])
y = np.array([1, 1, 1, 2, 3, 4, 2, 4, 3, 3])

most_freq_x, indices_x = most_frequent(x)
most_freq_y, indices_y = most_frequent(y)

print(f"Most Frequent in x: {most_freq_x}, Indices: {indices_x}")
print(f"Most Frequent in y: {most_freq_y}, Indices: {indices_y}")

Reversed Array: [5 4 6 3 2 1]
Most Frequent in x: 1, Indices: [0 5 7 8 9]
Most Frequent in y: 1, Indices: [0 1 2]

q3

In [7]:
import numpy as np

arr = np.array([[10, 20, 30],
                [40, 50, 60],
                [70, 80, 90]])

a = arr[0, 1]
b = arr[2, 0]

print("1st row, 2nd column:", a)
print("3rd row, 1st column:", b)

1st row, 2nd column: 20
3rd row, 1st column: 70