<a href="https://colab.research.google.com/github/kanishika-c15/KanishikaUCS420/blob/main/ASSIGNMENT3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd;
data={
    "Tid":[1,2,3,4,5,6,7,8,9,10],
    "Refund":["Yes", "No", "No", "Yes", "No", "No", "Yes", "No", "No", "No"],
    "Martial Status":["Single","Married","Single", "Married", "Divorced", "Married", "Divorced", "Single", "Married", "Single"],
    "Taxable Income": ["125K", "100K", "70K", "120K", "95K", "60K", "220K", "85K", "75K", "90K"],
    "Cheat": ["No", "No", "No", "No", "Yes", "No", "No", "Yes", "No", "Yes"]
}
df=pd.DataFrame(data);
selec_rows=df.iloc[[0,4,7,8]];
print(selec_rows);

from3to7=df.iloc[3:8]
print(from3to7)

# Select row from index 4 to 8, and column 2 to 4.
selection=df.iloc[4:9,2:5]
print(selection)
# Select all rows with column index 1 to 3 (include index 3 during selection)
sl=df.iloc[:,1:4]
print(sl)

   Tid Refund Martial Status Taxable Income Cheat
0    1    Yes         Single           125K    No
4    5     No       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
   Tid Refund Martial Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
  Martial Status Taxable Income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6       Divorced           220K    No
7         Single            85K   Yes
8        Married            75K    No
  Refund Martial Status Taxable Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K